body {
  background-color: #037171;
}

#editorWindow {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  font-family: sans-serif;
  color: white;
}

#editor {
  border-radius: 5px;
}

#previweWindow {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 5px;
  border: solid #03312e;
}

#preview {
  padding-left: 10px;
  padding-right: 10px;
}
